@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global */
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  margin:0;
  padding:0;
}

body {
  background-color: #dee1e5;
}

.bodyWrap {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  border: 1px solid grey;
}

main {
  clear: both;
}

/* header */

header {
  min-height: 275px;
}

.logoWrap {
  float: left;
  width=30%;
  padding:0;
  margin-left: 20px;
}

#logoImg {
  border: 2px solid black;
}

#h1Header{
  text-align: center;
  color: #ff9021;
  font-style: oblique;
  margin-bottom: 30px;
  text-shadow: 3px 3px 3px #a5a5a5;
}

.navBar {
  width: 60%;
  float: right;
  /*margin-left: 2%;
  margin-right: 2%;*/
  margin-top: 75px;
  text-align: center;
}

.navBar div ul {
  text-decoration: none;
  display: inline;
  margin: 0;
}

.navBar div ul li {
  display: inline-block;
  margin-right: 7px;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 175%;
  border-right: 1px solid black;
  padding-right: 7px;
}

#lastNavItem {
  border: none;
}

.navBar div ul li a{
  text-decoration: none;
  color: black;
}

.navBar div ul li a:hover {color: red;}

/* newsletter */
.newsletter {
  clear: both;
  min-height: 75px;
  background: #93a3bc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

div#newsLabel {
width: 30%;
float: left;
margin: 15px 0 0 15px;
}

div#newsForm {

}



/* footer */
footer {
  clear: both;
}

@media screen and (max-width: 500px) {

* {
  display: none;
}

}
