#parent {
  position: relative;
  height: 500px;
  margin-top: 50px;
  background: #93a3bc;
  height:300px;
  width:300px;
}

#child {
  position: absolute;
  top:50%;
  height:100px;
  margin-top: -50px;
  width:25%;
  background: #4f5d72;
}
